@model Сундучок.ViewModels.EditProductViewModel


<h2 class="title text-center">Редактирование</h2>

<div class="content-center">
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input asp-for="Name" class="form-control" placeholder="Название" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Price" class="form-control" placeholder="Цена" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <select placeholder="Категория" asp-for="ProductTypeId" class="form-control" asp-items="ViewBag.ProductTypeId"></select>
            <span asp-validation-for="ProductTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <textarea asp-for="Description" class="form-control" placeholder="Описание" rows="8"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Image" type="file" class="form-control" placeholder="Загрузите изображение" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <div class="content-center">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Применить</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
